<!doctype html>
<html ng-app="orderApp">
<head>
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

<!-- Site Properties -->
<title>OrderシステムVer1.0</title>
<link rel="shortcut icon" type="image/png" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="dist/semantic.min.css">

<style type="text/css">
body {
	-webkit-text-size-adjust: 100%;
	background-color: #FFFFFF;
	min-height: 800px;
	min-width:1000px;
}

.card:hover {
	background-color: #FFFFEE;
	cursor: pointer;
}
</style>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="dist/semantic.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="asserts/js/order.js"></script>
<script src="idle/ifvisible.min.js"></script>

</head>
<body style="border: 0px solid #BBBBBB;">
	<div ng-controller="OrderListController as orderList" class="ui grid"
		style="border: 0px solid #EEEAAA; margin: 0 0 0 0;min-height:800px">
		<div class="eleven wide column" style="border: 1px solid #BBBBBB;">
		<div class="row" style="padding-top:10px;padding-left:20px;padding-right:20px">
				<div class="ui one column grid">
					<div class="column" style="margin:0">
						<table class="ui very striped table" style="border:0px">
								<tr>
									<th><div class="ui mini button" ng-click="orderList.prev(orderList.currentPage)"><i class="chevron left icon"></i></div></th>
									<th class="center aligned" style="font-size: 25px">{{orderList.currentPage}}/{{orderList.totalPages}}</th>
									<th class="right aligned"><div class="ui mini button" ng-click="orderList.next(orderList.currentPage)"><i class="chevron right icon"></i></div></th>
								</tr>
						</table>
					</div>
				</div>
			</div>
			
			<div class="row" ng-repeat="eachRow in orderList.goods" style="margin-top:20px;margin-bottom:50px;">
				<div class="ui three column grid">
					<div class="column" ng-repeat="good in eachRow.row">

						<div class="ui card" ng-click="orderList.order(good)">
							<div class="image">
								<img src={{good.img}}>
							</div>
							<div class="content center aligned">
								<p class="header" style="margin: 3 0 0 0">{{good.text}}</p>
								<p class="header right aligned" style="margin: -3 0 0 0">¥{{good.price}}</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="five wide column" style="border: 1px solid #BBBBBB;">
			<div class="row" style="height: 80%">
				<div class="ui top attached label"
					style="text-align: center; font-size: 15px">ご注文</div>

				<div class="ui middle aligned divided fixed list">
					<div class="item" ng-repeat="order in orderList.orders">
						<img class="ui avatar image" src={{order.img}}>
						<div class="content center aligned">
							{{order.text}}
							<div class="detail">¥{{order.price}}</div>
						</div>
						<div class="right floated content">
							<div class="ui mini button" ng-click="orderList.sub(order.id)">-</div>
							<label>{{order.amount}}</label>
							<div class="ui mini button" ng-click="orderList.add(order.id)">+</div>
						</div>
					</div>

				</div>
				<div class="ui one middle center aligned column grid" ng-if="orderList.visableLabel">
				<div class="column">
				<p style="font-size:20px;color:#BBBBBB;padding-top:80%">商品を選んでください。</p>
				</div>
				</div>
			</div>

			<div class="row">
				<div class="ui one middle center aligned column grid">
					<div class="column">
						<div class="ui top attached label" style="font-size: 15px">
							商品{{orderList.goodsCount}}点
							<div class="detail">合計金額：¥{{orderList.goodsTotalValue}}</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row" style="margin-top: 30px">
				<div class="ui one middle center aligned column grid">
					<div class="column">
						<button class="ui massive teal icon button"
							style="background-color: #76D4E8"
							ng-click="orderList.makeOrder()">

							<i class="shop icon"></i> 注文確定

						</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="ui basic modal" id="basemodal">
		<div class="ui icon header">
			<i class="archive icon"></i>{{orderList.message}}
		</div>
		<!-- <div class="content">
			<p>Your inbox is getting full, would you like us to enable
				automatic archiving of old messages?</p>
		</div> -->
		<div class="actions">
			<div class="ui green basic cancel inverted button">
				<i class="checkmark icon"></i> OK
			</div>
		</div>
	    </div>
	    
	    		<div class="ui basic modal" id="welcomemodal">
		<div class="ui icon header">
			<i class="archive icon"></i>注文を開始しよう！
		</div>
	    </div>
	</div>
</body>
</html>